<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    Portsmouth,<br />
    England,<br />
    United Kingdom
</address>*@

<address>
    <strong>Email:</strong> <a href="mailto:Dragon.Armoury@Gmail.com">Dragon.Armoury@Gmail.com</a>
</address>

