@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dragon Armoury</h1>
    <p class="lead">Dragon Armoury has been making LARP equipment for over 20 years. We aim to create the best quality weapons and armour and the most imaginative.
        We believe that anything possible. If you can imagine it, we can make it.<br />
        <br />
        We work with the latest and most advanced materials available so we can achieve the best results.</p>
</div>

<div class="row">
    <div class="first-book front-page-book col-md-4">
        <h2>Get something Special</h2>
        <img class="card-image" src="~/Content/Images/Dragon_Armour.png" />
        <p>
            Dragon Armoury crafts the finest larp weapons and armour, each is a crafter work of art. Download our latest catalogue. 
        </p>
        <p><a class="btn btn-default" href="">Download catalogue &raquo;</a></p>
    </div>
    <div class="front-page-book col-md-4">
        <h2>Need something Unique</h2>
        <img class="card-image" src="~/Content/Images/Dragon_Mask.png" />
        <p>Need something truly unique, then contact our team and we can make you your prefect larp equipment. From your imagination, to the field of battle.</p>
        <p><a class="btn btn-default" href="">Custom enquiry &raquo;</a></p>
    </div>
    <div class="front-page-book col-md-4">
        <h2>Our blog</h2>
        <img class="card-image" src="~/Content/Images/Dragon_Blog.png" />
        <p>You can easily keep up with all the latest news on Dragon Armoury here on our blog.</p>
        <p><a class="btn btn-default" href="http://dragon-armoury.blogspot.co.uk/">Dragon Armoury Blog &raquo;</a></p>
    </div>
</div>