body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: 110px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    margin-left: 33%;
}

.banner-header {
    height: 150px;
    width: 100%;
    background-color: #474a51;
    background-image: url('Images/Dragon_Banner_Background.png');

}

.banner {
    display: block ;
    margin-left: auto; 
    margin-right: auto
}

.main-area{
    margin-left: 12%;
    margin-top: 155px;
}

.center-area {
    width: 70%;
    /*margin-top: 110px;*/
    height: 970px;
    
}

.left-area {
    width: 150px;
    min-height: 970px;
    background-image: url('Images/Dragon_Sword_Left.png');
}

.right-area {
    width: 150px;
    min-height: 970px;
    background-image: url('Images/Dragon_Sword_Right.png');
}

.float-left {
float:left;
}


.wrapper{

    background:red;
    margin-bottom:10px;
}

.item{
    float:left; 
    width:100px;
    height:100px;
    background:blue;
    margin:10px;
}

.card-image {
    margin-bottom: 10px;
}

.front-page-book {
    border: 1px solid #000;
    width: 30%;
    margin: 1%;
    height: 420px ;

}

.first-book{
    margin-left: 3%;
}

.thumbnail-div{
    height: 180px;
    overflow: hidden;
    margin-bottom: 15px;
}

.catalog-thumbnail {
    width: 318px;
}

.descriptionDiv {
    height:100px;
}

.actionButton a:hover{
    text-decoration: none;
}
    